<h1>이벤트 목록</h1>

<table>
  <tr>
    <th>시작일</th>
    <th>종료일</th>
    <th>이벤트명</th>
    <th>진행상태</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to time_mid(event.started_at), event %></td>
    <td><%= link_to time_mid(event.finished_at), event %></td>
    <td><%= link_to event.title, event %></td>
    <td><%= link_to event.status, event %></td>
  </tr>
<% end %>
</table>


