@media (max-width: 980px) {
	.container{
		margin-left: 0;
		margin-right: 0;
	}
}

body{
//	background-color: #000000;
	//background:url(images/sa_bg.png) repeat;
	padding:0;
}
.repang_title{font-family: 'Merriweather Sans', sans-serif;}
div.header{
	background-color:#13284B;
}
h1.repang_title{
	font-size: 36px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #E84B25;
}
h2.repang_title{
	line-height: 14px;
	font-size: 12px;
	margin: 0 0 0 28px;
	padding: 0 0 0 0;
	color: #FEFB85;
}
div.event_image{
	margin-top:2px;
	margin-bottom:4px;
}
div.banner{
	margin-bottom: 8px;
}
.container{
	max-width:960px;
	img{
		width:100%;
	}
}
div.footer{margin-top: 40px;}
h1.event_title{text-align:center; margin-top:40px; margin-bottom:30px;}
div.event_info{text-align:right;}
div.ninesixty{width:960px;}
p.center{color: #005580; text-align:center;}
a.link_to_list{font-size: 18px;}
#register_form {display:none;}
.uneditable-input{width:300px; height: 100px; overflow: scroll;}
#agree{float:left; }
.lable_box{float:left; width:300px; margin-left:4px;}
h2.modal_title{font-size:16px; color:#000; text-align:center;}
div.agree_doc{
	width:300px; 
	height:100px; 
	overflow: scroll; 
	background-color:#fff; 
	padding:4px; 
	color:#000;
}
div#register_form{
	background-color:#eee;
}
//a.simplemodal-close{float: right; text-decoration: none;}

/* Overlay */
//#simplemodal-overlay {background-color:#000;}
//
///* Container */
//#simplemodal-container {
//	height:600px; 
//	width:600px; 
////	color:#bbb; 
////	background-color:#444; 
//	border:4px solid #444; 
//	padding:12px;}
//#simplemodal-container .simplemodal-data {padding:8px;}
//#simplemodal-container code {
////	background:#141414; 
//	border-left:3px solid #65B43D; 
//	color:#bbb; 
//	display:block; 
//	font-size:12px; 
//	margin-bottom:12px; 
//	padding:4px 6px 6px;
//}
//#simplemodal-container a {color:#ddd;}
//#simplemodal-container a.modalCloseImg {
//	background:url(images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
//#simplemodal-container h3 {color:#84b8d9;}